@use './variables' as *;
@use './breakpoints' as *;

@mixin container {
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 5.21vw, 80px);
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin tablet-down {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile-down {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $breakpoint-tablet + 1px) {
    @content;
  }
}
