@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/base/layout';
@use './components/header/header';
@use './components/auth/auth';
@use './components/footer/footer';
@use './pages/home/hero';
@use './pages/home/new-games';
@use './pages/home/leaderboard';
@use './pages/home/developer';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f9f8f3;
  color: $color-on-primary;
  font-family: $font-main;
}

body.is-menu-open {
  overflow: hidden;
}

.container {
  @include container;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
