@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/base/layout';
@use './components/header/header';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $color-bg;
  color: $color-on-primary;
  font-family: $font-main;
}

body.is-menu-open {
  overflow: hidden;
}

.container {
  @include container;
}
